/* Fonte Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* Fonte Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/* 
Dimensões:
desktop: 1024px;
tablet: 768px; 
mobile: 480px; 
*/

:root {
    --primary-color: #435EB8;
    --dark-gray: #666666;
    --dark-charcoal: #333333;
    --branco: #FFFFFF;
    --background: #F9F9F9;
    --primary-font: 'Montserrat', sans-serif;
    --secondary-font: 'Lato', sans-serif;
    --cor-hover: #dacdcd5d;
}

.adicionar-carrinho {
    color: var(--branco);
    border: none;
    background-color: var(--primary-color);
    border-radius: 5px;
    width: 35px;
    height: 35px;
    font-size: 15px;
}

body {
    font-family: var(--primary-font);
    font-size: 12px;
    line-height: 1.5;
    font-weight: 400;
    color: var(--dark-charcoal);
    background: var(--background);
}

h1 {
    font-family: var(--secondary-font);
    font-size: 48px;
    line-height: 150%;
    font-weight: 700;
    margin: 0;
}

h2 {
    font-family: var(--primary-font);
    font-size: 36px;
    line-height: 150%;
    font-weight: 700;
    margin: 0;
}

h3 {
    font-family: var(--primary-font);
    font-size: 20px;
    line-height: 150%;
    font-weight: 700;
    margin: 0;
}

.filtro {
    margin-bottom: 2rem;
    display: flex;
    gap: 0.5rem;

    input {
        height: 36px;
        border-radius: 5px;
        padding: 1rem 0.5rem;
        border: solid 1px rgb(204, 204, 204);
    }

    button {
        width: 100px;
        height: 36px;
        background-color: var(--primary-color);
        color: white;
        font-weight: bold;
        border-radius: 5px;
        border: none;
    }
}

.header-home {
    background-image: url(../assets/imagens/header-home.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;
}

.produto-card {
    width: 18rem;
    text-align: center;
}

.produto-card img {
    max-width: 100%;
    height: auto;
}

.card-preco {
    font-weight: bold;
    color: var(--primary-color);
}

.produtos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 500px;
}

.produtos h2 {
    position: relative;
    margin: 2rem 0;
}

.produtos h2::after {
    content: '';
    display: block;
    width: 100%;
    border-bottom: solid 3px var(--primary-color);
    margin-top: 5px;
}

.grid-produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}


@media screen and (min-width: 1024px) {
    .header-home span {
        font-size: 48px;
        justify-content: flex-start;
        display: flex;
        align-items: center;
        height: 100%;
        width: 40%;
        margin-left: 1rem;
    }
}

/* Tablet */
@media screen and (max-width: 1023px) and (min-width: 768px) {
    .header-home span {
        font-size: 36px;
        justify-content: center;
        display: flex;
        align-items: center;
        width: 100%;
        margin-left: 0rem;
        padding-top: 3rem;
    }
}

/* Mobile */
@media screen and (max-width: 768px) {
    .header-home span {
        font-size: 17px;
        justify-content: center;
        display: flex;
        align-items: center;
        width: 100%;
        margin-left: 0rem;
        padding-top: 3rem;
    }

    .filtro {
        flex-direction: column;

        button {
            width: 100%;
        }
    }
}